{% extends 'base.html.twig' %}

{% block main %}

    {% for forum in forums %}

        <article>
            <a href="{{ path('forum',{'id':forum.id}) }}">
            <h2>{{ forum.title }}</h2>
            {% if forum.picture %}
                <img src="{{ asset('uploads/images/'~forum.picture) }}" alt="picture of the subject">
            {% endif %}
            </a>
            <p>{{ forum.content }}</p>
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin-delete-forum',{'id':forum.id}) }}">Delete forum</a></li>
            <li><a href="{{ path('admin-update-forum',{'id':forum.id}) }}">Update forum</a></li>
        {% endif %}

    {% endfor %}

{% endblock %}