{% extends 'base.html.twig' %}
{% block title %}DLC{% endblock %}
{% block main %}

    <article class="games-article">
        <a href="{{ path('game',{'id':game.id}) }}">
            <h2>{{ game.name }}</h2>
            <div class="offset-2 col-8 text-center">
            <img src="{{ game.background_image }}" alt="">
        </a>
        {% for tag in game.tags |slice(5,10) %}
            {% if tag.language is same as ('eng') %}
                <p>{{ tag.name }}</p>
            {% endif %}
        {% endfor%}
        <p>Released in {{ game.released |date('d-M-y') }}</p>
        {% if game.metacritic %}
            <p>Metacritic note {{ game.metacritic }}</p>
        {% endif %}

        </div>
    </article>

{% endblock %}
{% block footer %}
{% endblock %}
