{% extends 'base.html.twig' %}
    {% block title %}News{% endblock %}
    {% block main %}

            {% for new in news %}

                <article class="news-article">
    {#                <div class="news-article">#}
                    <a  href="{{ path('new',{'id':new.id}) }}">
                    <h2>{{ new.title }}</h2>
                    <div class="offset-2 col-10 pic">
                            {% if new.picture %}
                            <img src="{{ asset('uploads/images/'~new.picture) }}" alt="picture of the subject">
                            {% endif %}
                    </a>
                    </div>
                    <p class="text-center offset-1 col-10">{{ new.content }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio fugit, ipsa modi necessitatibus nemo nulla repellat voluptate voluptates voluptatibus? Consequuntur eaque labore, odit rem rerum vel! Accusantium asperiores consectetur, deleniti, eius ex harum inventore, laudantium nisi nulla placeat sed voluptates voluptatum. At ipsa labore odit perspiciatis possimus quidem, soluta.</p>
    {#                </div>#}
                </article>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="admin">
                        <li><a href="{{ path('admin-delete-actu',{'id':new.id}) }}">Delete actu</a></li>
                        <li><a href="{{ path('admin-update-actu',{'id':new.id}) }}">Update actu</a></li>
                    </div>
                {% endif %}

            {% endfor %}
        <div class="pagination-wrapper">{{ knp_pagination_render(news) }}</div>



    {% endblock %}
