{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Mailbox</h3>
                    <h4>Inbox</h4>
                    <p>You have received  {{ app.user.received|length }} messages</p>
                    <p>You have sent  {{ app.user.sent|length }} messages</p>
                </div>
                <div class="col-3">From</div>
                <div class="col-3">Subject</div>
                <div class="col-3">Date</div>
                <div class="col-3">Action</div>
                {% for message in app.user.received %}
                    {% if message.isRead ==0 %}
                        {% set bold = "fw-bold" %}
                    {% else %}
                        {% set bold ="" %}
                    {% endif %}
                    <div class="col-3 {{ bold }}">{{ message.sender.pseudo }}</div>
                    <div class="col-3 {{ bold }}"><a href="{{ path("read",{"id":message.id}) }}">{{ message.title }}</a></div>
                    <div class="col-3 {{ bold }}">{{ message.createdAt|date }}</div>
                    <div class="col-3"></div>
                {% endfor %}
                <div class="col">
                    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        See messages
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasExampleLabel">Mailbox</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path('messages') }}" class="list-group-item list-group-item-action">Reception</a>
            </div>
            <div class="list-group">
                <a href="{{ path('received') }}" class="list-group-item list-group-item-action active">Messages received</a>
            </div>
            <div class="list-group">
                <a href="{{ path('messages') }}" class="list-group-item list-group-item-action">Messages sent</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
